{% extends 'base.html' %}

{% load static %}

{% block title %} 
    Home
{% endblock %}

{% block content %}
<div class="">
    <div class="row">
        <img class="" src="{% static 'images/sale1.png' %}">
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="text-center col-10 mx-auto my-2">
                <h1 class="text-capitalize fw-bold">
                    Our Products
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-2">
        {% for product in products %}
            <div class="col-9 mx-auto col-md-6 col-lg-3 ">
                <div class="card mb-4">
                    <img class="card-img-top p-2" src="{{product.image.url}}" alt="{{product.name}}">
                    <div class="card-footer d-flex justify-content-between" style="background:transparent;
                    border-color: transparent;">
                        <p class="font-weight-bold mb-0">
                            {{product.name}}
                        </p>
                        <h5 class="text-info ">
                            {{product.price}}
                        </h5>
                    </div>
                </div>
           </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
